.swiper-pagination-bullet{
    width: 20px !important;
    height: 10px !important;
    background-color: rgba(255, 0, 0, 0.63) !important;
    border: 2px solid #FFFFFF !important;
  }
  .swiper-button-next{
    color: rgba(240, 255, 255, 0.555) !important;
    border: 2px solid rgba(255, 255, 255, 0.247) !important;
    font-size: 0px;
    padding: 5px !important;
    border-radius: 100%;
    width: 40px !important;
    height: auto !important;
    font-size: 20px !important;
  }
  .swiper-button-next::after{
    font-size: 15px !important;
    padding: 5px;
   
  }
  .swiper-button-next:hover{
    background-color: rgba(201, 201, 180, 0.473);
    transition-duration: 0.3s;
  }
  .swiper-button-prev{
    color: rgba(240, 255, 255, 0.555) !important;
    border: 2px solid rgba(255, 255, 255, 0.247) !important;
    font-size: 0px;
    padding: 5px !important;
    border-radius: 100%;
    width: 40px !important;
    height: auto !important;
    font-size: 20px !important;
  }
  .swiper-button-prev::after{
    font-size: 15px !important;
    transition-duration: 5s;
    padding: 5px;
  }
  .swiper-button-prev:hover{
    background-color: rgba(201, 201, 180, 0.473);
    transition-duration: 0.3s;
  }
  
  @media all and (max-width: 745px){
    .block-box{
      display: none;
    }
  }